<html>
<head>
<link rel="canonical" href="client.html"/>
<script type="text/javascript" src="/js/jquery-1.8.3.min.js"></script>

<style>
video {
  border:1px solid blue;
  width:320px;
  height:240px;
}
</style>

</head>
<body onload="start();">
<div id="container">
  <div id="local">
    <video id="local-video" autoplay="autoplay"></video>
  </div>
</div>

<br><br><br>
<div id="tracefield" style="height:300px;width:95%;border:1px solid red;font:16px/26px Georgia, Garamond, Serif;overflow:auto;"> </div>


<script src="/js/server.js" class="SERVER" ></script>
<script src="/js/tracer.js" ></script>
</body>
</html>
